.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;

	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

}

.main {
	min-height: 100vh;
	position: relative;
	width: 100%;
	background-image: url('../img/cosmo.jpg');
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.image-container {
	padding: 10px;
}

.image-container .image {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.image {
	width: 500px;
	height: 330px;
	border-radius: 20px;
	margin: 0;
	padding: 0;
	background: #fff;
	overflow: hidden;
	position: relative;
}

.image::before {
	position: absolute;
	top: 0;
	left: -75%;
	z-index: 2;
	display: block;
	content: '';
	width: 50%;
	height: 100%;
	background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .3) 100%);
	background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .3) 100%);
	-webkit-transform: skewX(-25deg);
	transform: skewX(-25deg);
}

.image:hover::before {
	-webkit-animation: shine .75s;
	animation: shine .75s;
}

@-webkit-keyframes shine {
	100% {
		left: 125%;
	}
}

@keyframes shine {
	100% {
		left: 125%;
	}
}

.image img {
	width: 500px;
	align-items: center;
	box-shadow: 0px 0px 15px 10px rgba(0, 0, 0, 0.8);
	border-radius: 20px;
}

.main .talk {
	background: transparent;
	outline: none;
	border: none;
	width: 50px;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 40px;
	cursor: pointer;
	color: #118ee8;
}

.pulse {
	margin-top: 50px;
	background: none;
	border: 2px solid;
	border-radius: 50%;
	transition: 0.25s;
}

.pulse:hover,
.pulse:focus {
	animation: pulse .75s;
	box-shadow: 0 0 0 1.5em transparent;
}

@keyframes pulse {
	0% {
		box-shadow: 0 0 0 0 #fff;
	}
}